@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

a {
    text-decoration: none;
    color: white;
}

body {
    ::-webkit-scrollbar {
        display: none;
    }

    overflow: hidden;
    scrollbar-width: none;
}

#cursor {
    position: absolute;
    background-color: ghostwhite;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    transition: 0.1s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
}

#cursor::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color: black;
    transform: translate(-50%, -50%);
}

#links {
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 2rem;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
}

#links a {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(240, 240, 240);
    color: black; */
    padding: 4px;
    padding-inline: 6px;
    border-radius: 6px;
    transition: all 350ms;
    font-family: "Nunito", "Fira Code", monospace;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
}

#links a img {
    height: 25px;
    margin-right: 5px;
}

/* 
#links a:hover {
    background-color: rgb(54, 54, 54);
    color: white
} */

#google {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#google a {
    font-family: 'IBM Plex Mono';
    font-size: 110px;
    font-weight: 200;
}

.input-style {
    display: flex;
    align-items: center;
    font-family: ubuntu;
    font-size: 15px;
    font-weight: 500;
    background-color: ghostwhite;
    color: black;
    border: none;
    outline: none;
    width: 35rem;
    height: 35px;
    border-radius: 20px;
    padding-left: 17px;
}

.add-container {
    position: relative;
}




/* Add Links Button */

#add-links {
    position: relative;
    transition: all 0.5s ease-out;
    border-radius: 50%;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border: none;
    margin: 20px;
}

#add-links:hover {
    border-radius: 50px;
    width: 100px;
}

#add-links::before {
    content: "";
    position: absolute;
    inset: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    transition: all 1s ease-out;
    overflow: hidden;
    text-wrap: nowrap;
    border-radius: 50%;
    font-size: 14px;
    transition: all 0.5s ease;
    background-color: ghostwhite;
    opacity: 0;
}

#add-links:hover::before {
    content: "Add Link";
    opacity: 1;
    border-radius: 50px;
    font-weight: 600;
}




/* Box for adding links with input name and url */

#add-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(2px);
    border: 1.5px solid grey;
    top: -6rem;
    left: 15px;
    display: none;
    animation: fade-in 0.3s ease-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(50px) scale(0.6);
    }

    to {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

#add-div input {
    border: 1.5px solid rgba(128, 128, 128, 0.521);
    background-color: rgb(16, 16, 16);
    border-radius: 10px;
    color: white;
    width: 11rem;
    height: 32px;
    font-size: 12px;
    gap: 20px;
}

.right-click-menu {
    position: absolute;
    background-color: tomato;
    border: 2px solid ghostwhite;
    font-family: ubuntu;
    border-radius: 5px;
    padding: 5px;
}

.right-click-menu-item {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

@media only screen and (max-width: 572px) {
    * {
        cursor: auto;
    }

    #links {
        gap: 1rem;
        width: 100%;
    }

    #google a {
        font-size: 60px;
        font-weight: 200;
    }

    .input-style {
        height: 40px;
        border-radius: 40px;
    }

    #search-bar {
        width: 320px;
    }

    #google {
        height: 60vh;
        margin-bottom: 30px;
    }

    #add-div {
        margin-left: 0px;
        left: 50%;
        transform: translateX(-50%);
    }

    #add-div input {
        height: 30px;
    }

    #links a {
        background-color: rgb(222, 222, 222);
        color: rgb(50, 50, 50);
        font-weight: 800;
    }

    #outer-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        height: 100vh;
    }

    #cursor {
        display: none;
    }
}